!!! 5
%html{ :lang => 'en' }
  %head
    %meta{ :charset => 'utf-8' }
    %meta{ :content => 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }
    / Use title if it's in the page YAML frontmatter
    %title= current_page.data.title || 'The Middleman'

    = stylesheet_link_tag 'application'

  %body{ class: page_classes }

    %header.header.tac
      .row.bci
        .cell.well.well--l
          %h1.mbf= data.config.title
          %p.tcs.tsxl.twl= data.config.description

    %main.content
      .row
        .cell.well
          - if data.config.table_of_contents
            %ol.mbl
              - data.slides.each.with_index do |slide, i|
                - if slide.title
                  %li= link_to slide.title, "##{slugify(slide.title)}"
                - else
                  %li= link_to "Slide #{i + 1}", "#slide-#{i + 1}"

          .bdrt.ptl
            = yield

    = javascript_include_tag  'application'
