- data.slides.each.with_index do |slide, i|
  %section.bdrb.mbl.pbl
    .grid{ id: (slide.title ? "#{slugify(slide.title)}" : "slide-#{i + 1}") }
      .grid-box.grid-box--desk--1of2
        - if slide.image
          = image_tag slide.image, alt: "#{slide.title}"
        - else
          - unless slide.file_ext
            = image_tag "slides/0#{i + 1}.#{data.config.file_ext}", alt: "#{slide.title}"
          - else
            = image_tag "slides/0#{i + 1}.#{slide.file_ext}", alt: "#{slide.title}"
      .grid-box.grid-box--desk--1of2
        .mtm
          - if slide.title
            %h1.h2= slide.title
          %p.mbf
            :markdown
              #{ slide.description }

